@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(img/foto-heroo2-modified2.jpg) #000;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 110vh;
  font-family: "Quattrocento Sans", sans-serif;
  z-index: -10;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px 0 0 20px;
  background-color: #ACACAC;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

header {
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

.header-nav {
  width: 65%;
  height: 60px;
  align-content: center;
}

.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.header-ul li .header-a {
  transition: color 0.5s;
  text-decoration: none;
  color: #ACACAC;
  display: inline-flex;
  margin-top: 30px;
}

.header-ul li .header-a:hover {
  color: #fff;
}

.header-a {
  cursor: pointer;
}

.main .option li, .text {
  font-weight: bold;
}

.container-typing {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 80vh;
  background-color: transparent;
  flex-direction: column;
}

.main .text {
  color: #fff;
  font-size: 180px;
  font-weight: 800;
}

.main .option {
  background-color: #000;
  margin-left: 15px;
  height: 90px;
  line-height: 120px;
  overflow: hidden;
}

.option li {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 10s steps(3) infinite;
  -webkit-animation: slide 9s steps(3) infinite;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

@-webkit-keyframes slide {
  100% {
    top: -360px;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.option li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.option li span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 140%;
  background-color: #000;
  border-left: 2px solid #fff;
  animation: typing 3s steps(10) infinite;
  -webkit-animation: typing 3s steps(10) infinite;
}

@-webkit-keyframes typing {
  40%, 60% {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
  }
}

@keyframes typing {
  40%, 60% {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
  }
}
.container-img {
  position: relative;
  width: 100%;
  height: 100px;
}

.img {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 100px;
  filter: invert(100%);
}

.container-img2 {
  position: relative;
  width: 100%;
  height: 100px;
}

.img2 {
  width: 100%;
  position: absolute;
  top: -1px;
  height: 100px;
  transform: scaleY(-1);
  filter: invert(100%);
  z-index: 150;
}

.img3 {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 100px;
  filter: invert(100%);
}

.img4 {
  width: 100%;
  position: absolute;
  top: -1px;
  height: 100px;
  transform: scaleY(-1);
  filter: invert(100%);
}

.img5 {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 100px;
  filter: invert(100%);
}

#acercade {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #fff;
}

.acercade-tittle {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  text-align: center;
  line-height: 1.5;
  height: 60%;
}

.acercade-tittle-div {
  margin: 0 auto;
  transition: all 0.8s;
}
.acercade-tittle-div:hover {
  color: #888;
}

.acercade-tittle h2 {
  margin-top: 30px;
}

.acercade-tittle h2 span {
  margin-left: 10px;
}

.acercade-tittle h2, span {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.acercade-tittle p {
  margin-top: 50px;
  font-weight: bold;
  font-size: 17px;
}

.acercade-iconos {
  display: flex;
  width: 100%;
  height: 40%;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  display: flex;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.acercade-icono-1 {
  background-image: url(img/html-logo.svg);
}

.acercade-icono-2 {
  background-image: url(img/css-logo.svg);
}

.acercade-icono-3 {
  background-image: url(img/git-logo.svg);
}

#proyectos {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.proyectos-container-h3 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 100;
  margin-top: 125px;
  font-weight: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.proyectos-container-h3 h3 {
  cursor: pointer;
  color: #ACACAC;
  transition: color 0.8s;
  -webkit-transition: color 0.8s;
  -moz-transition: color 0.8s;
  -ms-transition: color 0.8s;
  -o-transition: color 0.8s;
}

.proyectos-container-h3 h3:hover {
  color: #fff;
}

.section-proyectos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 250px;
  justify-content: space-evenly;
  align-items: center;
}

.borde {
  margin: 20px;
  box-shadow: 0 0 5px 2px white;
  cursor: pointer;
}

.section-proyectos .foto1 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex1.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto1:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

.section-proyectos .foto2 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto2:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

.section-proyectos .foto3 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto3:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

.section-proyectos .foto4 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto4:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

.section-proyectos .foto5 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto5:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

.section-proyectos .foto6 {
  background-position: center;
  width: 300px;
  height: 300px;
  background-image: url(img/img-flex.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s;
  filter: saturate(0);
}

.section-proyectos .foto6:hover {
  filter: saturate(1);
  box-shadow: 0 0 10px 5px white;
}

#contactame {
  width: 100%;
  height: 170px;
  background-color: #fff;
  position: relative;
}

.contactame-redes {
  display: flex;
  justify-content: space-evenly;
}

.a-general {
  text-decoration: none;
  color: #000;
}

.redes {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.redes p {
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  top: 120px;
  justify-content: center;
  width: 100%;
  text-align: center;
  transition: all 0.8s;
}
.redes p:hover {
  color: #888;
}

.insta {
  background-image: url(img/redes-insta.svg);
}

.email {
  background-image: url(img/redes-email.svg);
  text-align: center;
  cursor: initial;
}

.github {
  background-image: url(img/redes-github.svg);
}

.contactame {
  position: relative;
  width: 100%;
  height: 800px;
}

.container-form {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 800px;
  flex-direction: column;
}

.form-mensaje {
  min-height: 100px;
  max-height: 220px;
  max-width: 1120px;
}

.form-enviar {
  font-family: "Quattrocento Sans", sans-serif;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: 0;
  margin-top: 70px;
  padding: 15px 40px;
  cursor: pointer;
}

.form-general {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 15px;
  background-color: transparent;
  height: 100px;
  padding: 20px 0 0 15px;
  width: 80%;
  font-weight: bold;
  margin-top: 20px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2.5px solid #fff;
  border-left: 0;
  color: #fff;
}

.form-general:focus {
  outline: none;
  color: #fff;
  border-bottom: 2.5px solid rgb(58, 57, 57);
  transition: border-bottom 1.3s;
}

.footer {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.footer-div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: 7px;
  font-size: 13px;
}

.footer-div h4 {
  letter-spacing: 2pt;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.4s infinite linear alternate;
          animation: blur-text 1.5s 1.4s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
@media (max-width: 1019px) {
  #proyectos {
    height: 1080px;
  }
  .contactame-redes {
    display: flex;
    justify-content: space-around;
  }
}
.nav {
  position: absolute;
  opacity: 0;
}

@media (max-width: 880px) {
  .header-nav {
    position: absolute;
    opacity: 0;
  }
  .redes p {
    font-size: 23px;
  }
  .nav {
    position: -webkit-sticky;
    position: sticky;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
  }
  .bar-btn {
    font-size: 35px;
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
  }
  .nav-menu {
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    transition: all 0.5s;
  }
  .nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
  }
  .nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav-menu li a.active, .nav-menu li a:hover {
    color: #888;
    transition: all 0.3s;
  }
  #check {
    display: none;
  }
  #check:checked ~ .nav-menu {
    height: 100vh;
  }
  #check:checked ~ .nav-menu li {
    display: block;
  }
  .main {
    width: 100%;
  }
  .option {
    position: absolute;
    opacity: 0;
  }
}
@media (max-width: 722px) {
  #acercade {
    height: 530px;
  }
}
@media (max-width: 680px) {
  .main {
    height: 70vh;
  }
  #proyectos {
    height: 1430px;
  }
}
@media (max-width: 585px) {
  #acercade {
    height: 600px;
  }
  .redes p {
    font-size: 20px;
  }
  .contactame {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .form {
    width: 95%;
  }
  .form input, textarea {
    text-shadow: 0px 0px 2px #000;
  }
}
@media (max-width: 521px) {
  .acercade-iconos {
    height: 50%;
  }
  #contactame {
    height: 140px;
  }
  .redes {
    width: 60px;
    height: 60px;
  }
  .redes p {
    font-size: 15px;
    top: 100px;
  }
}
@media (max-width: 436px) {
  #acercade {
    height: 650px;
  }
}
@media (max-width: 417px) {
  #acercade {
    height: 690px;
  }
}
@media (max-width: 396px) {
  #acercade {
    height: 715px;
  }
  #contactame {
    height: 110px;
  }
  .redes {
    width: 50px;
    height: 50px;
  }
  .redes p {
    font-size: 13px;
    top: 80px;
  }
}
@media (max-width: 347px) {
  .acercade-iconos {
    height: 60%;
  }
}/*# sourceMappingURL=estilos.css.map */